/**********************************************

    CASCADE SPARES WEBSITE REDESIGN

***********************************************

    Author: Garrett Tallent  (github.com/gare22)
    Date Created: 6/24/21
    Date Last Modified: 9/16/21

***********************************************/


/*
Specificity Hierarchy

Inline styles - 1000 points
IDs - 100 points
Classes, attributes, and pseudo-classes - 10 points
Elements and pseudo-elements - 1 point

Highest point value is applied.

Consider the following:

<div id="content">
    <h1>HEADING</h1>
</div>

h1 {color:red} - 1 point
.big h1 {color:yellow} - 11 points
#content h1 {color:green} - 101 points

because #content h1 has the highest score,
  the h1 will be colored green

*/





/************************************************
    Classes, Attributes, and Pseudo-classes
*************************************************/

/*Related to parallax stuff*/
.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.bg {
    background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.parallax__container .parallax {
	position: fixed;
	top: 1px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
}

.parallax__container #mqpara{
	position: fixed;
	top: 1px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
}

.parallax__container #qpara{
	display:none;
    position: fixed;
	top: 1px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 30%;
}

.parallax__container #mqpara{
    display:none;
}

.parallax__container #qpara{
    display:grid;
    position: fixed;
    top: 1px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 30%;
}

/*parallax images*/
.bg1 {
	background-image:url("../images/main3.jpg");
    background-position: left;
}
.bg2{
	background-image:url("../images/part.jpg");
}

.bg3{
    background-image:url("../images/3.jpg");
}
.bg4{
    background-image:url("../images/15.jpg");
}
.bg5{
    background-position:center;
    background-image:url("../images/9.jpg");
}

.bg6{
    background-position:left;
    background-image:url("../images/11.jpg");
}

/*Display Structure*/

.mobile_hidden{
    display:block;
}

.desktop_hidden{
    display:none;
}

.vflex{
    display:flex;
    flex-direction: column;
}

.hflex{
    display:flex;
    flex-direction: row;
}

.flexwrap{
    flex-wrap: wrap;
}


.flexcenter{
    justify-content: center;
    align-items: center;
}

.grid{
    display:grid;
    grid-gap: 0px;
}

.bodyrow{
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}

.devlabel{
    position:absolute; 
    top:2px;
    left:4px; 
    margin:0px; 
    padding:0px;
}

.left{
    background-color: tomato;
    height: 100vh;
    max-width: 30vw;
}

.sticky{
    position:sticky;
    top:0px;
}

.right{
    background-color: brown;
    min-height: 100vh;
    max-width: 70vw;
}

.white{
    color:whitesmoke;
}

.black{
    color:black;
}

.twovwpad{
    padding:2vw;
}



/*************************************************
            Elements and Pseudo-elements
**************************************************/
html{
    max-width:100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

body{
    height:inherit;
    width:inherit;
    margin:inherit;
    padding:inherit;
    background-color:lightgray;
}

div{
    padding-top:20px;
    position:relative;
    box-sizing: border-box;
}



/************************************************
    TOP DOWN STRUCTURE HERE (ID'd elements)
*************************************************/
#main{
    background-color: grey;
}

#head{
    background-color: red;
}

#tinystrip{
    background-color: orangered;
}

#headmain{
    background-color: orange;
}

#logo{
    background-color: yellow;
}

#navbar{
    background-color:yellowgreen;
}

#body{
    background-color:green;
}

#about{
    background-color: aquamarine;
}

#contact{
    background-color: blue;
}

#quality{
    background-color:blueviolet;
}

#ecommerce{
    background-color:violet;
}

#marketing{
    background-color:teal;
}

#foot{
    background-color:olive;
}

#copyright{
    background-color:peru;
}

#privacy{
    background-color:slateblue;
}

