
.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.bg {
    background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.parallax__container .parallax {
	position: fixed;
	top: 1px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
}

.parallax__container #mqpara{
	position: fixed;
	top: 1px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
}

.parallax__container #qpara{
	display:none;
    position: fixed;
	top: 1px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 30%;
}
/*parallax images*/

.bg1 {
	background-image:url("../images/main2.jpg");
    background-position: center;
}
.bg2{
	background-image:url("../images/part.jpg");
}

.bg3{
    background-image:url("../images/3.jpg");
}
.bg4{
    background-image:url("../images/1.jpg");
}
.bg5{
    background-position:center;
    background-image:url("../images/9.jpg");
}

.bg6{
    background-position:center;
    background-image:url("../images/diag.jpg");
}



* {
  box-sizing: border-box;
}

html {
  font-family: 'Cascade';
  scroll-behavior: smooth;
  font-size: 10px;
}

body{
	margin:0px;
    padding:0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* For mobile phones: */  
/* For mobile phones: */  
p{font: 2.2rem 'PT Sans', sans-serif; padding: 0;margin:1vh;}
h1{font:italic 4.6rem Cascade;}
h2{font: italic 3.2rem Cascade;margin:1vh;}
h3{padding:0;font:2.4rem Cascade;margin:1vh;}
a{font:italic 2.4rem Cascade;margin:1vh;}
li{font:2.2rem 'PT Sans', sans-serif;margin:0px;}
img {
    padding:2vw;max-width: 100%; height: auto; margin-left: auto; margin-right:auto; display: block;
}


#about .left{
    color:whitesmoke;
    background-color: rgb(125, 14, 0, 0.7);
    box-shadow: inset 0px -2vw 12vw #000;
}

#about .right{background-color: rgba(255, 255, 255, 0.85);}
#about .left a{color:whitesmoke;}
#about .left a:hover{color:rgb(189, 189, 189);}
#contact .left{
    background-color: rgb(125, 14, 0, 0.8);
	color:whitesmoke;
}

#contact .left a{color: white;}

#contact .left a:hover{
	color: grey;
}

#contact .right{
    background-color: rgba(245, 245, 245, 0.836);
}

#contact .right a{
    color:black;
}

#contact .right a:hover{
    color: grey;
}

#contact .right .colrow{
    text-align: center;
}

#contact .right .colrow .column{
    float:left;
    width:50%;
}

#contact .right .colrow .column h3{
    padding-top:2vh;
}

#contact .right .colrow .column p{
    padding-bottom: 2vh;
}

#quality .left{
    color:whitesmoke;
    
}

#quality .left a{
    color:whitesmoke;
}

#quality .left a:hover{
    color:grey;
}

#quality .right{
    background-color: rgba(255, 255, 255, 0.90);
    height: auto;
}

#quality .right a{
    color:rgb(99, 13, 1);
}

#quality .right a:hover{
    color:rgb(173, 110, 110);
}

#ecommerce .left{
    background-color:rgb(125, 14, 0, 0.9);
}

#ecommerce .right{
    background-color: rgba(255, 255, 255, 0.90);
}


#ecommerce .left a{color: rgba(39, 37, 37, 0.95);}

#ecommerce .left a:hover{
	color: grey;
}

#specials .left{
    background-color: rgb(125, 14, 0, 0.8);
    box-shadow: inset 0px -2vw 12vw #000;
}
#specials .left h1{
    color:rgb(245, 245, 245);
}
#specials .right{
    background-color:rgba(255, 255, 255, 0.90);
}


#specials .left a{color: rgb(245, 245, 245, .9);}

#specials .left a:hover{
	color: grey;
}

.header{
    color:rgb(125, 14, 0);
    height: auto;
    text-align: center;
    background-color: rgb(125, 14, 0, 0.6);
    box-shadow: inset 0px -2vw 12vw #000;
    position: relative;
    top:0;
    z-index:100;
}


.headerleft{
    position: relative;
    margin: auto;
    height: 25vh;
    float:left;
    width:100%;
}

.headerleft img{
    width:auto;
    height:25vh;
    min-height:167px;
}

.headerleft #logo{
    position: relative;
    z-index: 2;
}

.headerleft #imgshadow{
    top:-17vh;
    margin:auto;
    position: relative;
    height:14vh;
    width:14vh;
    border-radius: 50%;
    box-shadow: 0 0 115px 0px rgb(255, 222, 152);
    z-index:-10;
}

.headerright{
    display:none;
}



.row{
    height: auto;
    width: 100%;
    z-index: 2;
}

.left{
    float:left;
    min-height: 30vh;
    width: 100%;
    margin: auto;
    padding:5vh;
    text-align: center;
}
.right{
    float:left;
    width: 100%;
    height:auto;
    padding:7rem;
}  

.footer {
    background-color: rgb(235, 235, 235);
    color:rgb(125, 14, 0);
    text-align: center;
    font-size: 12px;
    padding: 15px;
    z-index: 5;
}

.footer a{
    font-style: normal;
    /*color:rgb(125, 14, 0, 1);*/
    color:rgb(125, 14, 0);
}

a.offsetanchor{
    display:block;
    position:relative;
    top:0px;
    visibility: hidden;
    margin:0px;
}

.footer a:hover{
    color:lightslategrey;
}


.left h1{
    margin: auto;
    padding-top:0;
}



/*For desktop and bigger screens*/
@media only screen and (min-width: 768px) {
    a.offsetanchor{
        display:block;
        position:relative;
        top:-11.9vh;
        visibility: hidden;
        margin:0px;
    }

    .row{min-height: 88vh;
    width: 100%;}
    .left{
        height: 88vh;
        width: 30%;
        position: sticky; 
        top:12vh;
        padding:0vh;
        text-align: center;
    }
    .right{
        min-height:88vh;
        height:fit-content;
        width: 70%;
          
    }  

    #contact .left{
        background-color: rgb(245, 245, 245, .8);
        color:black;
    }
    #contact .right{
        background-color: rgb(125, 14, 0, 0.6);
        box-shadow: inset 0px -2vw 12vw #000;
        color:rgb(245, 245, 245, .8);
    }

    #contact .left a{
	    color:rgba(39, 37, 37, 0.95);
    }

    #contact .left a:hover{
        color: grey;
    }
    #contact .right a{
	    color:rgb(245, 245, 245, .8);
    }

    #contact .right a:hover{
        color: grey;
    }

    #ecommerce .left{
        background-color: rgba(255, 255, 255, 0.90);
    }
    
    #ecommerce .right{
        background-color:rgb(125, 14, 0, 0.6);
        box-shadow: inset 0px -2vw 12vw #000;
    }
    
    
    #ecommerce .left a{color: rgba(39, 37, 37, 0.95);}
    
    #ecommerce .left a:hover{
        color: grey;
    }

    p{font:2.0rem 'PT Sans', sans-serif;}
    h1{font:italic 5.0rem Cascade;}
    h2{font:3.0rem Cascade;}
    h3{font:2.4rem Cascade;}
    a{font:italic 2.5rem Cascade;margin:1vh;}
    li{font:2.2rem 'PT Sans', sans-serif;}

    .left h1{
        padding-top:36vh;
    }

        
    .header{
        color:rgb(125, 14, 0);
        height: auto;
        text-align: center;
        position: sticky;
        top:0;
        z-index:100;
        min-height: 100px;
        height: 12vh;
        box-shadow: 0px 10px 100px black;
    }


    
    .headerleft{
        position: relative;
        margin: auto;
        height: 12vh;
        min-height: 100px;
        float:left;
        width:30%;
        background-color: rgb(226, 226, 226);
        
    }

    .headerleft img{
        width:auto;
        height:20vh;
        padding:0px;
        padding-top:2.1vh;
    }
   
    .headerleft #logo{
        position: relative;
        z-index: 2;
    }

    .headerleft #imgshadow{
        top:-16vh;
        margin:auto;
        position: relative;
        height:15vh;
        width:15vh;
        border-radius: 50%;
        box-shadow: 0 0 115px 12px rgb(255, 222, 152);
        z-index:-10;
    }

    .headerright{
        float:left;
        width: 70%;
        height:12vh;
        min-height: 100px;
        background-color: rgb(226, 226, 226);
        padding-top:4.5vh;
        display: block;
    }

    .headerright a{
        margin: auto;
        font-style: normal;
        color:rgb(125, 14, 0);
        padding-left: 1vw;
        padding-right:1vw;
        font-size: 2rem;
        
    }

    .parallax__container #mqpara{
        display:none;
    }

    .parallax__container #qpara{
        display:grid;
        position: fixed;
        top: 1px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        width: 30%;
    }
        
}