*, :after, :before {
	box-sizing: border-box;
}

body, html {
	font-size: 16px;
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
	color:rgb(32, 32, 32);
}

h1{
	font-size:12vw;
}
h2{
	font-size: 8vw;
}
h3{
	font-size: 6vw;
}
body {
	position:relative;
	font-family: 'Source Sans Pro', helvetica, arial;
	font-size: 18px;
	font-weight: 300;
}

body, p, h1, h2, h3 {
	margin: 0;
	padding: 0;
}





.left {
	padding-top: 4%;
	margin:auto;
	text-align: center;
	height: 100vh;
	position: sticky;
	width:50%;
	float:left;
	top: 0;
}

.left .nav{
	position: absolute;
    bottom: 5%;
	width: 100%;
	font-size:2.5vw;
	margin:auto;
}


p{
	font-size: 2vw;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-variant: small-caps;
}

.right{
	height: 100%;
	width:50%;
	float:right;
	padding:4vw;
}

.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -100;
}


.parallax__container .parallax {
	/* can be put in a seperate class for better control */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* --------------------------- */
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
}

.content{
	background: rgba(0, 0, 0, .75);
	border-radius: 8px;
	color: #fff;
	margin: 0 auto;
	padding: 30px 35px;
	text-align: center;
}


#title{
	height:100vh;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0px;
	position: relative;
	width: 100%;
	text-align: center;
}
#title img{
	width: 100%;
}

#title .nav{
	padding-top:2.5vw;
	font-size:1.8vw;
}

/* mouse over link */


#title a{
	color:rgb(255, 255, 255);
}

/* mouse over link */
#title a:hover {
	color: rgb(153, 153, 153);
}


#about{
	background-color: rgba(99, 29, 19, 0.75);
	height: 200vh;	
}
#about .right{
	background: rgba(201, 201, 201, .5);
}
#about a{
	color:white;
	text-align: center;
}
#about a:hover {
	color: rgb(255, 255, 255);
}

#contact{
	height:200vh;
	background-color: rgba(41, 41, 41, 0.75);
}
#contact .right{
	background: whitesmoke;
}
#contact a{
	color:white;
	text-align: center;
}
#contact a:hover {
	color: rgb(255, 255, 255);
}


#quality{
	height: 140vh;
	background-color: rgba(121, 121, 121, 0.75);
	
}
#quality .left{
	color:white;
}
#quality .right{
	background:  rgba(0, 0, 0, 0.75);;
}
#quality a{
	color:white;
	text-align: center;
}
#quality a:hover {
	color: rgb(255, 255, 255);
}

#footer{
	height: 50vh;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0px;
	position: relative;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.bg1 {
	background-image: url("../images/front.jpg");
}

.bg2{
	background-image:url("../images/part.jpg");
}

.bg3{
	background-image:url("../images/2.jpg");
}
.bg4{
	background-image:url("../images/2.jpg");
}
.bg5{
	background-image:url("../images/2.jpg");
}

.show-on-mobile--inline {
	display: none;
}